* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 960px;
  position: fixed;
}

.container1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 960px;
  height: 60px;
  margin: auto;
}

.nav-link {
  width: 960px;
  height: 50px;
  background-color: #a3ade6;
  display: flex;
}

.b1 {
  margin: 14px 0 0 20px;
  display: inline-flex;
  align-self: flex-start;
  cursor: pointer;
  padding: 1px;
  color: white;
  background-color: #a3ade6;
  border: 0;
  font-weight: bold;
}

.b2,
.b3 {
  cursor: pointer;
  color: white;
  padding: 1px;
  background-color: #a3ade6;
  border: 0;
  font-weight: bold;
}

.b1-1,
.b1-2 {
  text-decoration: none;
  background-color: #a3ade6;
  color: white;
  background-color: #a3ade6;
}

.b1-2 {
  cursor: not-allowed;
}

.b2 {
  display: flex;
  margin: 14px 0 12px 650px;
  float: right;
}

.b3 {
  margin: 14px 0 12px 20px;
}

.b4 {
  margin: 14px 20px 12px 20px;
  color: white;
  padding: 1px;
  background-color: #a3ade6;
  cursor: not-allowed;
  opacity: 0.6;
  border: 0;
  font-weight: bold;
}

.main1 {
  position: relative;
  height: 960px;
  width: auto;
  background-image: url("jakub-rozalski-usonia-harvest-042021small.jpg");
  background-size: cover;
  display: flex;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(126, 126, 126, 0.3);
  z-index: 1;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 2;
}

.item-1,
.item-2,
.item-3 {
  display: flex;
  text-align: left;
  align-self: flex-start;
  padding: 0 0 0 35px;
}

.item-1 {
  font-size: 36px;
  line-height: 50px;
  width: 550px;
  font-weight: bold;
  color: black;
}

.item-2 {
  font-size: 28px;
  line-height: 50px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.item-3 {
  border: 2px white;
  text-align: left;
  width: 120px;
  height: 25px;
  font-weight: bold;
  background-color: transparent;
}

.b1-3 {
  text-decoration: none;
  text-align: center;
  padding: 3px;
  width: 100%;
  height: 25px;
  cursor: pointer;
  border: 2px solid #ffffff;
  color: white;
  border-radius: 90px;
  transition-duration: 1s;
}

.b1-3:hover {
  background-color: white;
  color: black;
}
